%ul.unstyled
  %li
    = number_with_delimiter @lifetime_views
    %br
    Lifetime Views
  %li
    1032032
    %br
    AVG Views Per Video
  %li
    1032032
    %br
    Total Minutes Watched
  %li
    2:03
    %br
    AVG View Duration
  %li
    = number_with_delimiter @subscribersGained
    %br
    Total Subscribers
  %li
    Not Available
    %br
    VSCR (%)
  %li
    Not Available
    %br
    Top Day of Week - Views
  %li
    Not Available
    %br
    Top Video - Views

.line
%ul.unstyled
  %li
    1032032
    %br
    Facebook Likes
  %li
    1032032
    %br
    Twitter Followers
  %li
    Not Available
    %br
    Tumblr Followers
  %li
    Not Available
    %br
    Instagram Followers
  %li
    1032032
    %br
    Google+ Followers

