.container.pull-left
  .row
    #home_img.span2.pull-left
      = image_tag('icon_bedrocket.png')
    .row#channel_name_row
      #channel_name.span2
        Bedrocket
      #channels-in-logo.span8
        (Look TV, Network A, Official Comedy)
    #tracked_since.span9.offset2
      == Updated: #{(Channel.first.day_channels.last.report_date).strftime('%A %m-%d-%Y at %I:%M%p')}
.clear-both
.table-title#top-videos-title Top Videos
#top_videos
  = render 'top_videos_in_group'

= link_to 'setting', setting_path(username: 'look', password: 'jSw9lMzS', time_left: '2012-12-24', views: 7000000, subscribers: 100000, view_time:200, facebook_likes: 100000)

