.container.pull-left
  .row
    #home_img.span2
      = image_tag('icon_bedrocket.png')
    .row
      #home_name.span9
        Bedrocket
      .aa
        (Look TV, Network A, Official Comedy)
    #tracked_since.span9
      == Updated: #{(Channel.first.day_channels.last.report_date).strftime('%A %m-%d-%Y at %I:%M%p')}
.clear-both

