body{
	.navbar.navbar-fluid-top .navbar-inner{
		min-width: 678px;
		> .container-fluid{
			max-width: 1170px;
			min-width: 678px;
			margin: auto;
		}

	}
	> .container-fluid{
		max-width: 1170px;
		min-width: 678px;
		margin: auto;
	}
	.section-name{
		color: #666;
	}
	.number{
		font-weight: bolder;
	}
	.desc{
		color: #707070;
	}
	.goals .span3{
		text-align: center;
	}
}