// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-title {
  margin-bottom: 20px;
}

#top-videos-title {
  margin-top:70px;
}
#form-download {
  margin-bottom:50px;
  button {
    margin-bottom:8px;
  }
}
#top_videos {
  margin-bottom:70px;
}
#channel_name{
  font-size:30px;
}
#avg_views_chart_div,
#subscribers_chart_div,
#facebook_info_chart_div,
#twitter_info_chart_div {
  float:left;
}

